@import 'antd/dist/reset.css';
@import 'ui/ag-theme';
@import 'ui/mixins';
@import 'ui/_ui';
@import 'ui/_vars';
@import 'Charts';
@import 'Dashboard';
@import 'Main';
@import 'Navbar';

html {
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	outline: none;
	user-select: none;
	word-break: break-word;
}

body.dragging * {
	cursor: grabbing !important;
}

* {
	box-sizing: border-box;
}

*:focus, *:hover {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

.app {
	height: 100%;
	background: $background-gradient;
	background-size: $background-size;   
	@include animation('Gradient 10s linear infinite');
}

@include keyframes(Gradient) {
    0% 		{ background-position: 0% 100% }
    50% 	{ background-position: 50% 50% }
    100% 	{ background-position: 100% 0% }
}

.scroll-to-top {
	display: block;
	position: fixed;
	z-index: 1099;
	bottom: 1rem;
	right: 0.75rem;
}

.scroll-to-top a {
	display: inherit;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: 3.35rem;
	color: #F8F3F2;
	background-color: #303037;
	border: 1px solid rgba(128, 128, 128, 0.5);
	border-radius: .5rem!important;
	box-shadow: 0px 2px 2px 2px grayscale(0, 0.5);
}
