@import 'antd/dist/reset.css';
@import 'ui/ag-theme';
@import 'ui/mixins';
@import 'ui/_ui';
@import 'ui/_vars';

@import 'Button';
@import 'Card';
@import 'Charts';
@import 'Footer';
@import 'Navbar';
@import 'Table';

html {
	height: initial;
}

body {
	outline: none;
	user-select: none;
	word-break: break-word;
}

* {
	box-sizing: border-box;
}

section {
	padding-bottom: 0;
	margin-bottom: 0;
}

.app {
	min-height: 100vh;
	background: $background-gradient;
	background-size: $background-size;
}

.skyhawk-wrapper {
	padding: 1rem 2rem;
}

.scroll-to-top {
	display: block;
	position: fixed;
	z-index: 1099;
	bottom: 1rem;
	right: 0.75rem;
}

.scroll-to-top a {
	display: inherit;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: 3.35rem;
	color: #F8F3F2;
	background-color: #303037;
	border: 1px solid rgba(128, 128, 128, 0.5);
	border-radius: .5rem !important;
	box-shadow: 0px 2px 2px 2px grayscale(0, 0.5);
}

.loading {
	display: grid;
	grid-template-columns: 1fr;
	background-color: $background-dark;
	border-radius: 5px;
	color: orange;

	margin: 1rem;
	text-align: center;
	word-wrap: break-word;

	.header {
		margin: 1rem;
	}

	.body {
		margin: 0.5rem;
	}
}

.error {
	display: grid;
	grid-template-columns: 1fr;
	background-color: $background-dark;
	border-radius: 5px;
	color: red;

	margin: 1rem;
	text-align: center;
	word-wrap: break-word;

	.header {
		margin: 1rem;
	}

	.body {
		margin: 0.5rem;
	}
}