@import 'antd/dist/reset.css';
@import 'ui/ag-theme';
@import 'ui/mixins';
@import 'ui/_ui';
@import 'ui/_vars';

@import 'Button';
@import 'Card';
@import 'Charts';
@import 'Footer';
@import 'Navbar';
@import 'Table';
@import 'TextItem';
@import 'Wrapper';

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100vh;
	margin: 0;
}

body {
	outline: none;
	user-select: none;
	word-break: break-word;
}

section {
	padding-bottom: 0;
	margin-bottom: 0;
}

.app {
	min-height: 100%;
	@include flex-container(flex-start, column);

	@include bp-medium {
		@include grid-layout(2fr 10fr);
	}
	
	@include bp-large {
		@include grid-layout(1fr 5fr);
	}
}

.dashboard {
	flex: 1;
	background: bg-gradient(180deg, #{$penn-red}, #{$brick-red});
	background-size: $background-size;
}

.home-grid {
	@include grid-layout(auto, repeat(3, 1fr), 25px);

	@include bp-xlarge {
		@include grid-layout(repeat(3, 1fr), auto, 50px);
	}
}

.scroll-to-top {
	display: block;
	position: fixed;
	z-index: 1099;
	bottom: 1rem;
	right: 0.75rem;
}

.scroll-to-top a {
	display: inherit;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	line-height: 3.35rem;
	color: #F8F3F2;
	background-color: #303037;
	border: 1px solid rgba(128, 128, 128, 0.5);
	border-radius: .5rem !important;
	box-shadow: 0px 2px 2px 2px grayscale(0, 0.5);
}

.loading {
	@include grid-layout(1fr);
	background-color: $background-darkest;
	border-radius: 5px;
	color: orange;

	margin: 1rem;
	text-align: center;
	word-wrap: break-word;

	.header {
		margin: 1rem;
	}

	.body {
		margin: 0.5rem;
	}
}

.error {
	@include grid-layout(1fr);  
	background-color: $background-darkest;
	border-radius: 5px;
	color: red;

	margin: 1rem;
	text-align: center;
	word-wrap: break-word;

	.header {
		margin: 1rem;
	}

	.body {
		margin: 0.5rem;
	}
}