.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;

	background: $background-light;
	border-radius: $border-radius;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
	transition: box-shadow 0.3s ease-in-out;
	
	&:hover {
		box-shadow: 0 5px 10px grayscale(0, 1);
	}

	&_header {
		padding: 10px;
		background: bg-gradient(90deg, #{$chili-red}, #{$caramel}, #{$bronze}, #{$peach});
		color: $font-color-light;
		font-size: 1.1rem;
		font-weight: bold;
	}

	&_body {
		flex: 1;
		padding: 16px;

		p {
			margin: 0;
			line-height: 1.25;
			color: $font-color-mid;
		}
	}

	&_footer {
		display: flex;
		justify-content: space-evenly;
		gap: 8px;

		padding: 5px;
		background: #f8f8f8;

		button {
			padding: 7px 14px;
			border-radius: 4px;
			font-weight: bold;
			cursor: pointer;

			&.primary {
				background-color: $background-dark;
				color: $font-color-light;
			}

			&.secondary {
				background-color: $font-color-light;
				color: $font-color-mid;
				border: 1px solid grayscale(0, 0.25);
			}

			&:hover {
				opacity: 0.75;
			}
		}
	}
}