.card {
	@include flex-container(space-between, column);
	overflow: hidden;
	background: $background-light;
	border-radius: $border-radius;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
	transition: box-shadow 0.3s ease-in-out;
	
	&:hover {
		box-shadow: 0 5px 10px grayscale(0, 1);
	}

	&_header {
		padding: 10px;
		background: bg-gradient(90deg, #{$chili-red}, #{$caramel}, #{$bronze}, #{$peach});
		color: $font-color-light;
		font-size: 1.1rem;
		font-weight: bold;
	}

	&_image {
		@include flex-container(center, row);

		@include bp-medium {
			margin: 5px;
		}
	}

	&_body {
		@include grid-layout(1fr, 1fr 2fr);

		@include bp-mobile {
			@include grid-layout(1fr, 3fr 4fr);
		}

		@include bp-small {
			@include grid-layout(1fr, 3fr);
		}

		@include bp-medium {
			@include grid-layout(4fr 10fr);
		}

		@include bp-xlarge {
			@include grid-layout(1fr, 1fr);
		}
	}

	&_text {
		margin: 10px 10px 0px 10px;

		@include bp-mobile {
			margin: 10px 25px 0px 25px;
		}

		@include bp-small {
			margin: 15px;
		}

		p {
			margin: 15px;
			line-height: 1.25;
			color: $font-color-mid;

			@include bp-mobile {
				margin: 0;
			}

		}
	}

	&_footer {
		@include flex-container(space-evenly, column, center);
		padding: 5px;
		background: #f9f9f9;
		
		button {
			padding: 7px 14px;
			border-radius: 4px;
			font-weight: bold;
			cursor: pointer;

			&.primary {
				background-color: $background-dark;
				color: $font-color-light;
			}

			&.secondary {
				background-color: $background-light;
				color: $font-color-dark;
				border: 1px solid grayscale(0, 0.25);
			}

			&:hover {
				opacity: 0.75;
			}
		}
	}
}