.charts {
	.chart-wrapper {
		border-radius: $border-radius;
		background-color: $background-light;
		margin-bottom: 1rem;

		.chart-header {
			color: black;

			.header {
				padding: 0.25rem 0.5rem;
			}
		}
	}

	.recharts-tooltip {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-row-gap: 5px;
		max-width: 275px;
		
		padding: 10px;
		font-size: 10px;
		color: $font-color-dark;
		border: 1px solid grayscale(127, 0.5);
		border-radius: $border-radius;
		background-color: $background-light;

		@include bp-medium {
			font-size: 12px;
			max-width: 500px;
		}
	}
}