.footer {
	padding: 10px 0;
	text-align: center;
	
	color: $font-color-light;
	background-color: $background-darkest;
	font-size: calculateRem(10px);
  
	a {
	  color: grayscale(112, 1);
	  font-weight: bold;
	  text-decoration: underline;
	  transition: color 0.3s ease-in-out;
  
	  &:hover {
		color: $gold;
	  }
	}
  }
  