.skyhawk-wrapper {
	height: 100%;
}

.sidebar {

}

.navbar {

}

.dashboard {
	height: 100%;
	padding: 0.5rem 2rem;
}

.charts {

	.chart-item {

	}
}

.dash-tbl {
	height: 100%;
	display: flex;
	flex-direction: column;
}
 
.grid-wrapper {
	flex: 1 1 auto;
}