.navbar {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 3fr 9fr;
	background-color: black;

	ul, li {
		margin: 0;
	}

	.navbar-home {
		.nav-logo-link {
			margin: 5px auto;
		}

		a {
			display: grid;
			grid-template-columns: 1fr;
			border-right: 1px solid $theme-color;
			text-align: center;

			@include bp-small {
				grid-template-columns: 1fr;
			}

			@include bp-medium {
				grid-template-columns: 1fr 1fr;
			}
			
			.graphic {
			}

			.graphic-title {
				display: none;

				@include bp-small {
					display: initial;
					margin: auto;
					text-align: center;
				}
			}
		}
	}

	.container {
		@include flex-container(flex-start, row);

		.nav-item {
			padding: 0 1rem;
		}

		// TODO: ADD HOVER FEATURES TO LINKS
		// TODO: REPLACE LINKS WITH HAMBURGER MENU FOR MOBILES
		.nav-link {
			&:hover {
				
			}
		}
	}
}