.navbar {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 5fr 7fr;
	grid-gap: 5px;

	padding: 5px 0px;
	background-color: black;


	@include bp-medium {		
		grid-template-columns: 2fr 9fr;
	}

	@include bp-large {		
		grid-template-columns: 1fr 9fr;
	}

	ul, li {
		margin: 0;
	}

	.navbar-home {
		display: grid;
		grid-template-columns: 1fr;
		column-gap: 3px;
		
		border-right: 1px solid $theme-color;

		@include bp-small {
			grid-template-columns: 1fr 1fr;
			padding-right: 5px;
			text-align: center;
		}

		.graphic {
			img {
				height: 45px;
				width: auto;
				margin: auto;

				@include bp-small {
					margin: inherit;
				}
			}
		}

		.graphic-title {
			margin: auto;

			@include bp-mobile {
				display: none;
			}
		}
	}

	.container {
		@include flex-container(flex-start, row);

		.nav-item {
			padding: 0 1rem;
		}
	}
}