.sky-table {
	padding-bottom: 1rem;

	.page {
		display: grid;
		grid-template-columns: 10fr 2fr;
		background-color: ghostwhite;
		color: black;
		padding: 7.5px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.page-header {
		margin: auto;
	}

	.page-tab {
		margin: auto;

		select {
			color: white;
			border-radius: 3px;
		}
	}
}