@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-balham.css';

.ag-theme-balham {
    // light theme params
    min-height: 500px;
    
    .ag-root-wrapper.ag-layout-normal {
        border-radius: 3px;
    }
    
    .ag-root-wrapper-body {
        height: fit-content;
    }
}

.dark-mode {
    .ag-theme-balham {
        // dark theme params
        // @include ag-theme-alpine-dark();
    }
    
}
