/* Simple grayscale function for better color refactoring */
@function grayscale($rgb, $a) {
	@return rgba($rgb, $rgb, $rgb, $a);
}

@function bg-gradient($deg, $colors...) {
	@if length($colors)==0 {
		$colors: $penn-red, $chili-red;
	}

	@return linear-gradient($deg, $colors);
}

/*	Color Scheme:
	Dominant Color for:
		Logos, Menu Tabs, Action/General Buttons,
		Highlighted Primary Info, Title/Headlines, General Buttons

	Accent Colors for:
		Current Menu Tab, Subtitles,Highlighted Secondary Info
*/

/* B/W Shades */
/* 	From coolors.co <WIP>
	Link: https://coolors.co/visualizer/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529
*/
// $white: {
// 	$1: #f8f9fa,
// 	$2: #e9ecef,
// 	$3: #dee2e6,
// 	$4: #ced4da,
// 	$5: #adb5bd
// }
// $black: {
// 	$1: #6c757d,
// 	$2: #495057,
// 	$3: #343a40,
// 	$4: #212529
// }

/* From Legacy Portfolio */
$black: #111; 					// Primary div color
$jet: #333;
$theme-active-gray: #323232;
$mud: #303037;
$devil-number: #666;
$lucky-number: #777;
$pewter: #8EA8C3;
$light-gray: #888;
$theme-gray: #828282;
$dim: #B7B0A8;
$silver: #C0C0C0; 				// Base color for panels
$platinum: #DCDCDC; 			// For source code snippets
$azure: #E8EEF3;
$ivory: #FFFFF0;
$white: #fff;

// Rich Reds
$penn-red: #960200;			// Penn Red
$brick-red: #A52A2A;			// Brick Red
$chili-red: #CB462B;			// Chili Red
$accent-red: #FF6347; 			// Tomato

// Oranges
$light-orange: #FFA07A; 		// Light Salmon
$orange: #FFA500; 				// Web Orange
$dark-orange: #FF8C00; 		// Dark Orange (Web)

// Yellows/Golden Tones
$light-yellow: #FFD700;
$yellow: #DBB43D;
$dark-yellow: #FFDF00;
$darker-yellow: #FFC15E; 			// Xanthous

$bronze: #CD7F32;
$gold: #FFD400;

// Greens
$lighter-green: #8AEA92; 		// Light Green
$light-green: #29BF12; 		// Kelly Green
$green: #00A676; 				// Jade
$dark-green: #386641; 			// Dark Green
$darker-green: #012622; 		// Pine Green

// Blues
$blue-gray: #6699CC; 			// Blue Gray
$lighter-blue: #9CFFFA; 		// Ice Blue
$light-blue: #3C91E6; 			// Tufts Blue 
$blue: #083D77; 				// Yale Blue
$dark-blue: #0B3954; 			// Prussian Blue

// Purples
$violet: #5B507A; 				// Ultra Violet


/* Background/Theme */
$background-size: 100% 100%;
$background-gradient: bg-gradient(180deg);
$background-light: $white;
$background-mid: $light-gray;
$background-dark: $jet;
$background-darkest: $black;
$theme-color: $theme-gray;
$theme-color-active-txt: $theme-active-gray;
$theme-active-brightness: 0;

/* Layouts */
$border-radius: 5px;

/* Spacing */
$full-space: 40px;
$half-space: 20px;

/* Font Colors/Sizing */
$font-color-dark: $jet;
$font-color-mid: $devil-number;
$font-color-light: $white;
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

/* Navbar */
$navbar-bg-color: grayscale(255, 1);
$navbar-title-color: $jet;
$navbar-logo-bg-color: $jet;

/* Main Menu */
$menuHideDur: .25s;
$menuShowDur: .5s;
$menu-btn-off-color: $devil-number;
$menu-btn-on-color: $lucky-number;

/* Buttons */
$btn-transition-dur: .25s;

/* App Loader */
$app-loader-title-color: $white;
$app-loader-message-color: grayscale(150, 1);
$app-loader-bg-color: grayscale(0, .9);

//---------------------------------------------------------------
// UI ELEMENTS
//---------------------------------------------------------------
$color_site-bg: grayscale(30, 1);
$color_site-txt: grayscale(255, 1);

/* Time Picker */
$color_time-picker-bg: grayscale(55, 1);
$color_time-picker-column-bg: $background-light;
$color_time-picker-cell-txt: grayscale(255, 1);
$color_time-picker-cell-hover-bg: grayscale(255, .05);
$color_time-picker-cell-hover-txt: grayscale(255, 1);
$color_time-picker-cell-active-bg: $theme-color;
$color_time-picker-cell-active-txt: grayscale(50, 1);